<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Prueba_Servlet</display-name>
	<servlet>
		<description>
		</description>
		<display-name>HolaMundo</display-name>
		<servlet-name>HolaMundo</servlet-name>
		<servlet-class>holamundo.HolaMundo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ThreeParams</display-name>
		<servlet-name>ThreeParams</servlet-name>
		<servlet-class>parametros.ThreeParams</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MostrarCabecera</display-name>
		<servlet-name>MostrarCabecera</servlet-name>
		<servlet-class>cabeceras.MostrarCabecera</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ParametrosCGI</display-name>
		<servlet-name>ParametrosCGI</servlet-name>
		<servlet-class>cabeceras.ParametrosCGI</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>login.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HolaMundo</servlet-name>
		<url-pattern>/HolaMundo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThreeParams</servlet-name>
		<url-pattern>/ThreeParams</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostrarCabecera</servlet-name>
		<url-pattern>/MostrarCabecera</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ParametrosCGI</servlet-name>
		<url-pattern>/ParametrosCGI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
